<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Schneier on Security", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Blog", root_path%></li>
          <li><%= link_to "Newsletter",   newsletter_path %></li>
          <li><%= link_to "Books",   books_path %></li>          
          <li><%= link_to "Essays",   essays_path %></li>
          <li><%= link_to "News", news_path %></li>
          <li><%= link_to "Schedule", schedule_path %></li>
          <li><%= link_to "Crypto", crypto_path %></li>
          <li><%= link_to "About Me",   about_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>